<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
   @* <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/register.css"/>
</head>
<body>
    <div>
        <form>
            <lable>User name</lable>
            <input type="text" asp-for="" />

            <lable>First name</lable>
            <input type="text" asp-for="" />

            <lable>Last name</lable>
            <input type="text" asp-for="" />

            <lable>Email</lable>
            <input type="text" asp-for="" />

            <lable>Phone number</lable>
            <input type="text" asp-for="" />

            <lable>Password</lable>
            <input type="text" asp-for="" />

            <button class="btn-info">Sign in</button>
        </form>
    </div>
</body>
</html>