@model ICollection<ProductVM>
@{
    Layout = null;
}

@foreach (var pr in Model)
{
    <div>
        <div class="card" style="width: 18rem;">
            <img src="@pr.ImageUrl" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">@pr.Title</h5>
                <p class="card-text">@pr.Price</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
}