@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    Layout = null;
    ViewData["Title"] = "Page";
}

<link rel="stylesheet" href="~/css/IndexStyle.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="text-center">
    <h3 class="display-4">Welcome to our e-commerce store project</h3>
    <a class="btn btn-outline-primary btn-lg" href="@Url.Action("Register")">Register</a>
    <a class="btn btn-outline-primary btn-lg" href="@Url.Action("Login")">Log In</a>
</div>

