@model UserVM

@{
    Layout = null;
    ViewData["Title"] = "Register";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/registerStyle.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>

<div>
    <form method="post" asp-action="Register">
        <h3 class="align-self-center"> Register </h3>

        <input type="text" class="mt-4 form-control" asp-for="UserName" id="userName" placeholder="Username" />

        <div class="row">
            <div class="col">
                <input type="text" class="mt-4 form-control" asp-for="FirstName" id="firstName" placeholder="First name" />
            </div>
            <div class="col">
                <input type="text" class="mt-4 form-control" asp-for="LastName" id="lastName" placeholder="Last name" />
            </div>
        </div>

        <input type="email" class="mt-4 form-control" asp-for="Email" id="email" placeholder="Email" />

        <div class="row">
            <div class="col">
                <input type="text" class="mt-4 form-control" asp-for="Address.City" id="city" placeholder="City" />

                <input type="text" class="mt-4 form-control" asp-for="Address.Region" id="region" placeholder="Region" />
            </div>
            <div class="col">
                <input type="text" class="mt-4 form-control" asp-for="Address.Street" id="street" placeholder="Street" />

                <input type="text" class="mt-4 form-control" asp-for="Address.Number" id="number" placeholder="Number" />
            </div>
        </div>

        <input type="password" class="mt-4 form-control" asp-for="PasswordHash" id="password" placeholder="Password" />

        <button class="mt-4 btn btn-primary" name="submit" type="submit">Sign in</button>
    </form>
</div>