@model ECommerceApp.Models.UserVM

@{
    ViewData["Title"] = "Register";
}

<form method="post" asp-action="Register">

    <lable for="UserName" class="form-label">User name</lable>

    <input type="text" asp-for="UserName" id="userName" />

    <lable for="FirstName" class="form-label">First name</lable>
    <input type="text" asp-for="FirstName" id="firstName" />

    <lable for="LastName" class="form-label">Last name</lable>
    <input type="text" asp-for="LastName" id="lastName" />

    <lable for="Email" class="form-label">Email</lable>
    <input type="email" asp-for="Email" id="email" />


    <lable for="PhoneNumber" class="form-label">Phone number</lable>
    <input type="number" asp-for="PhoneNumber" id="phoneNumber" />

    <lable for="Password" class="form-label">Password</lable>
    <input type="password" class="form-control" asp-for="PasswordHash" id="password" />

    <button class="btn btn-primary" name="submit" type="submit">Sign in</button>
</form>
