body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.myCard {
    position: absolute;
    padding: 20px;
    background-color: snow;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 8px 8px 8px 8px rgba(205,228,214,0.6);
}

/*button {
    align-self: center;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    width: fit-content;
    padding: 10px;
}
*/
